.bg-Dark-Imperial-Blue {
    background-color: rgb(2, 9 , 113);
}

.bg-Egyptian-Blue {
    background-color: #092996;
}

.bg-Pale-Spring-Bud {
    background-color: rgb(238, 236, 196);
}

.bg-Desert-Sand {
    background-color: rgb(223, 210, 159);
}

.bg-Skobeloffv{
    background-color: rgb(14, 119, 121);
}

.bg-Tropical-Rain-Forest {
    background-color: rgb(10, 98, 103);
}

.text-Dark-Imperial-Blue {
    color: rgb(2, 9 , 113);
}

.text-Egyptian-Blue {
    color: rgb(29, 47, 173);
}

.text-Pale-Spring-Bud {
    color: rgb(238, 236, 196);
}

.text-Desert-Sand {
    color: rgb(223, 210, 159);
}

.text-Skobeloffv{
    color: rgb(14, 119, 121);
}

.text-Tropical-Rain-Forest {
    color: rgb(10, 98, 103);
}
