body {
  position: absolute;
}
#navbar-produtos {
    height: 20px;
}

#navbar-produtos  a:hover {
  border-top: 2px solid white;

}

#dropdown-ordem a:hover {
    background-color: black;
    color: white;
}

#copyright {
    text-align: center;
    font-size: 11px;
}

.item-do-navbar a:hover {
    border-bottom: 2px solid white;
}

.icone-navbar:hover {
  border-bottom: 2px solid white;
}

.icone-cesta:hover {
  background-color: blue;
}

footer {
  font-size: 15px;
  background-color: rgb(238, 241, 243);
}

#flutuante {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #092996;
  &:hover {
    background-color: rgb(45, 45, 255);
  }
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
}

#link-header {
  text-decoration: none;
}
